.full-screen {
  width: 100vw;
  height: 100vh;
}

.flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.ai-flex-start {
  align-items: flex-start;
}

.ai-flex-end {
  align-items: flex-end;
}

.jc-flex-end {
  justify-content: flex-end;
}

.flex-col {
  flex-direction: column;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-space-around {
  justify-content: space-around;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.jc-flex-end {
  justify-content: flex-end;
}

.input, btn {
  height: 30px;
  border-radius: 30px;
  padding: 7px;  
}